.menu {
    padding: 20 600px;
}

.header {
    align-items: center;
    background-image: url('/assets/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 300px;
    justify-content: center;
    & text {
        color: white;
    }
}